* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

aside img {
  height: 10%;
  width: 10%;
}

nav {
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  padding: 1rem 1.5rem;
  font-family: Raleway;
  font-weight: 200;
}

nav ul li:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
