* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

aside img {
  height: 10%;
  width: 10%;
}

nav {
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  padding: 1rem 1.5rem;
  font-family: Raleway;
  font-weight: 200;
  position: relative;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li div.middlebox {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 30%;
  left: 0;
  border-right: 0.5px solid;
}

nav ul li div.middlebox:nth-last-child(1) {
  border-right: none;
}

a {
  text-decoration: none;
  color: black;
}
