div.main_box {
  main.main_about {
    overflow-y: hidden;

    div.about {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-5%);

      div.person_info {
        height: 50%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img.person {
          height: 80%;
          width: 100%;
          min-width: 100px;
          object-fit: contain;
        }
      }
    }
  }
}
