* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
}

header {
  height: 10%;

  nav {
    height: 100%;

    ul {
      list-style: none;
      display: flex;
      height: 100%;

      li {
        font-family: Raleway;
        font-weight: 200;
        position: relative;
        transition: 0.75s ease;
        display: flex;
        align-items: center;
        height: 100%;

        &:hover {
          cursor: pointer;
          background-color: #eeeeee;
        }

        div.middlebox {
          position: absolute;
          width: 100%;
          height: 40%;
          top: 30%;
          left: 0;
          border-right: 0.5px solid #878787;
          z-index: 0;
        }

        div.middlebox_last {
          border-right: 0;
        }
      }

      a {
        text-decoration: none;
        color: black;
        padding: 0.75rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    }
  }
}

div.main_box {
  display: flex;
  position: relative;
  height: 90%;

  aside {
    flex: 1;
    top: 0;
    background-image: url("../pics/dishes/spinach.jpg");
    background-position: center;
    background-size: cover;
  }

  main {
    flex: 1;
    overflow-y: scroll;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin: 0.5rem 2rem;

    &.main_about {
      overflow-y: hidden;

      div.about {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-10%);

        div.person_info {
          height: 30%;
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;

          img.person {
            height: 100%;
            width: 100%;
            min-width: 100px;
            object-fit: contain;
          }
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 200;
    }

    h1 {
      border-bottom: 0.5px solid black;
      margin-bottom: 1rem;
    }

    h2 {
      margin: 1rem 0.5rem 0.5rem 0.5rem;
    }

    p {
      color: #878787;
      margin: 0.3rem 0.5rem;
    }

    ul {
      margin: 0.3rem 1.5rem;
      color: #878787;
    }

    ol {
      margin: 0.3rem 1.7rem;
      color: #878787;
    }
  }
}

@media screen and (max-width: 600px) {
  div.main_box {
    aside {
      visibility: hidden;
      flex: 0;
    }
  }
}

@media screen and (max-width: 400px) {
  header {
    height: 30%;

    nav {
      ul {
        flex-direction: column;

        li {
          div.middlebox {
            border-right: 0;
          }
        }
      }
    }
  }

  div.main_box {
    height: 80%;
  }
}
